{% extends 'base.html.twig' %}

{% block title %}Talmeet{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Find talents</h1>

    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for user in users %}
            <li><a href="/profile/{{ user.username }}">{{ user.username }}</a></li>
        {% endfor %}
    </ul>

</div>

{% endblock %}
