<div class="footer mt-5">
    <div class="container py-5">
        <h2>Talmeet</h2>
    </div>

    <div class="copyright">
        <p class="m-0 py-3 text-center">Talmeet - All rights reserved 2021</p>
    </div>
</div>